node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
.env
/node_modules
/dist
/build
/generated
.DS_Store
.idea
.vscode
npm-debug.log*
yarn-debug.log*
migration.sql