name: Main Workflow

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use the latest stable Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Fix rollup dependency issue
        run: |
          rm -f package-lock.json
          rm -rf node_modules
          npm install

      - name: Run Test
        run: npm run Test

        env:
          NODE_ENV: test
          JWT_ACCESS_SECRET: test_access
          DATABASE_URL: "sqlite::memory:"

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4

      - name: Use the latest stable Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Fix Rollup dependency issue
        run: |
          rm -f package-lock.json
          rm -rf node_modules
          npm install

      - name: Run Build
        run: npm run build
 

