name: Main Workflow

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use the latest stable Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Fix rollup dependency issue
        run: |
          rm -f package-lock.json
          rm -rf node_modules
          npm install

      - name: Run Test
        run: npm run test

        env:
          NODE_ENV: test
          JWT_ACCESS_SECRET: test_access
          DATABASE_URL: "sqlite::memory:"

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: test
    env:
      DATABASE_URL: "file:./dev.db"
    steps:
      - uses: actions/checkout@v4

      - name: Use the latest stable Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - name: Fix Rollup dependency issue
        run: |
          rm -f package-lock.json
          rm -rf node_modules
          npm install
      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Run Build
        run: npm run build

  deploy:
    name: Push to GHCR & Redeploy on Northflank
    runs-on: ubuntu-latest
    needs: build
    env:
      DATABASE_URL: "file:./dev.db"
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/newdraftbackend:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.actor }}/newdraftbackend:latest
